.accordion {
  font-size: 16px;
  color: #515151;
  line-height: 1.5;
}
.accordion p {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0 10px 0;
}
.accordion ul {
  margin-left: 30px;
}
.accordion ul li {
  margin-bottom: 5px;
}
.accordion li::before {
  content: "\2022";
  color: #006a00;
  display: block;
  position: relative;
  width: 0;
  height: 0;
  left: -20px;
  top: -1px;
}
.accordion a {
  color: #003d8e;
}
.accordion a:visited {
  color: #003d8e;
}
