.help {
  margin: 15px;
  font-size: 16px;
  line-height: 23px;
  color: #515151;
}
.help__intouch {
  font-size: 13px;
  font-weight: bold;
}
.help__tel a {
  font-size: 22px;
  color: #18507a;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}
.help__intouch img {
  width: 20px;
}
.help__opening {
  margin-left: 35px;
}
.icon {
  padding-top: 20px;
  vertical-align: middle;
}
.help__icon img {
  padding-top: 10px;
}
.help__icon a {
  color: #18507a;
  font-size: 16px;
  vertical-align: super;
}
.help__web {
  display: inline-block;
  margin-left: 15px;
}
